.auth-overlay{
    position: fixed;
    inset: 0;

    background: rgba(0,0,0,0.85);
    backdrop-filter: blur(6px);

    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 9999;
}

.auth-card{
    width:420px;
    background:rgba(20,20,20,0.92);
    border-radius:12px;
    overflow:hidden;
    backdrop-filter: blur(8px);
    box-shadow:0 20px 40px rgba(0,0,0,0.6);
    position:relative;
    z-index:10000;
}

.auth-card-register{
    transform: scale(0.86);
}


.auth-top-bar{
    height:60px;
    background:#dc3545;
}

.auth-logo{
    width: 180px;
    display: block;
    margin: -70px auto 20px auto;
}

.auth-body{
    padding:30px;
    color:white;
}

.auth-title{
    text-align:center;
    font-weight:700;
    margin-bottom:25px;
}

.auth-input{
    background:transparent;
    border:1px solid rgba(255,255,255,0.3);
    color:white;
    height:48px;
}

.auth-input-group{
    position:relative;
    margin-bottom:15px;
}

.auth-icon{
    position:absolute;
    left:15px;
    top:50%;
    transform:translateY(-50%);
    color:#aaa;
}

.auth-input{
    padding-left:45px;
}

.auth-btn{
    width:100%;
    background:#dc3545;
    border:none;
    height:50px;
    font-size:18px;
    font-weight:600;
    margin-top:10px;
}

.auth-close{
    position:absolute;
    top:15px;
    right:20px;

    background:none;
    border:none;

    color:white;
    font-size:28px;
    cursor:pointer;

    transition:0.3s;
}

.auth-close:hover{
    color:black;
    transform:scale(1.2);
}

.auth-card{
    animation: modalFade 0.4s ease;
}

/* @keyframes modalFade{
    from{
        opacity:0;
        transform: translateY(-20px);
    }
    to{
        opacity:1;
        transform: translateY(0);
    }
} */